[Unit]
Description=A simple facial recognition service using MQTT and video0
BindsTo=dev-video0.device
After=network.target mosquitto.service
Requires=network.target mosquitto.service

[Service]
ExecStart=/usr/bin/env python3 facialRecognition.py --cascade haarcascade_frontalface_default.xml --encodings encodings.pickle --video --outfile {{ webpage_dir }}/htdocs/images/video.png
WorkingDirectory={{ install_dir }}/facialrecognition
Restart=on-failure

[Install]
WantedBy=multi-user.target
