<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Facial Recognition on CPL410</title>

    <style>
      #header {
        margin-bottom: 1em;
      }
      #listContainer {
        height: 375px;
        overflow: auto;
      }
      li {
        border: 1px solid black;
        padding: 0.5em;
        width: 100%;
	      cursor: pointer;
      }
      li:hover {
        background-color: WhiteSmoke;
      }
      ul {
        list-style: none;
        width: 100%;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Gescan Automation</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="https://bitbucket.org/gescancimtec/cpl410-demos">Repository</a>
        <a class="p-2 text-dark" href="https://bitbucket.org/gescancimtec/cpl410-demos/issues?status=new&status=open">Issues</a>
        <a class="p-2 text-dark" href="https://bitbucket.org/gescancimtec/cpl410-opencv/src/master/">Custom Facial Encodings</a>
      </nav>
    </div>

    <div class="px-3 py-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4">CPL410 Facial Recognition</h1>
    </div>
    <?php if (file_exists('/dev/video0')) {?>
    <!-- Live Feed -->
    <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Live Feed</h4>
            </div>
            <div id="secContainer" class="card-body">
              <img id="secImage" src="/facialrecognition/video.png" width="500px;"/>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Audit Log</h4>
            </div>
            <div id="listContainer" class="card-body text-left">
              <ul id="frList">
              </ul>
            </div>
          </div>
        </div>
    </div>
    <?php } else { ?>
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow" id="uploadImageBox">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Upload Image</h4>
            </div>
            <div id="secContainer" class="card-body">
              <form method="post" action="" enctype="multipart/form-data" id="myform">
                <div >
                  <input type="file" id="file" name="file" />
                  <input type="button" class="button" value="Upload" id="but_upload">
                </div>
              </form>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Result</h4>
            </div>
            <div id="listContainer" class="card-body text-left">
              <img id="uploadResult" width="490px;"/>
            </div>
          </div>
        </div>
    </div>
    <?php } ?>
    <!-- Modal -->
    <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Historical Photo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="histImage" src="/facialrecognition/video.png" width="470px;"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/gescancimtec/assets/js/paho-mqtt.js"></script>
    <script src="/gescancimtec/assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js" crossorigin="anonymous"></script>
    <script>
      var client = new Paho.Client("<?= $_SERVER['SERVER_ADDR'] ?>", 8083, "/", "frClient");

      // set callback handlers
      client.onConnectionLost = onConnectionLost;
      client.onMessageArrived = onMessageArrived;

      // connect the client
      client.connect({userName:"{{ mosquitto_user }}",password:"{{ mosquitto_password }}",onSuccess:onConnect});

      // called when the client connects
      function onConnect() {
        // Once a connection has been made, make a subscription and send a message.
        console.log("onConnect");
        client.subscribe("fr/update");
        client.subscribe("fr/names");
      }

      // called when the client loses its connection
      function onConnectionLost(responseObject) {
        if (responseObject.errorCode !== 0) {
          console.log("onConnectionLost:"+responseObject.errorMessage);
        }
      }

      // called when a message arrives
      function onMessageArrived(message) {
        //console.log("onMessageArrived:"+message.payloadString);
        //console.log("Topic is: "+message.destinationName);
        switch(message.destinationName) {
          case "fr/update":
            $("#secImage").attr("src", "/gescancimtec/images/video.png?"+new Date().getTime());
            break;
          case "fr/names":
            console.log("onMessageArrived:"+message.payloadString);
            console.log("Topic is: "+message.destinationName);
            msg = JSON.parse(message.payloadString);
            $("<li>" + msg.Date + " " + msg.Names + "</li>").prependTo("#frList").on("click", {id: msg.Date}, showHistory);
            break;
          default:
        }
      }

      function showHistory( event ) {
        $("#histImage").attr("src", "/gescancimtec/history/"+event.data.id+".png?"+new Date().getTime());
        $('#dialog').modal()
      }

      $(window).on("unload", function(e) {
        console.log("this will be triggered");
        client.unsubscribe("fr/update");
        client.unsubscribe("fr/names");
        client.disconnect();
      });

      $(document).ready(function(){

        $("#but_upload").click(function(){
          $("#uploadImageBox").LoadingOverlay("show")

          var fd = new FormData();
          var files = $('#file')[0].files[0];
          fd.append('file',files);

          $.ajax({
            url: '/cgi-bin/upload.py',
            type: 'post',
            data: fd,
            dataType: 'json',
            contentType: false,
            processData: false,
            crossDomain: true,
            success: function(response){
              $("#uploadImageBox").LoadingOverlay("hide")
              if(response.Result == 'Success'){
                $("#uploadResult").attr("src", "/gescancimtec/images/result.png?"+new Date().getTime());
              }else{
                alert('There was an issue processing the image file.  Please try again.');
              }
            },
          });
        });
      });
    </script>
  </body>
</html>
