#!/usr/bin/python

import cgi, os, json
import cgitb
cgitb.enable(display=0, logdir="{{ install_dir }}/facialrecognition")

form = cgi.FieldStorage()

# Get filename here.
fileitem = form['file']

# Test if the file was uploaded
if fileitem.filename:
   # strip leading path from file name to avoid 
   # directory traversal attacks
   fn = os.path.basename(fileitem.filename)
   open('/tmp/' + fn, 'wb').write(fileitem.file.read())
   basedir = '{{ install_dir }}/facialrecognition/'
   os.system('/usr/bin/env python3 ' + basedir + 'facialRecognition.py --image /tmp/' + fn + ' --cascade ' + basedir + 'haarcascade_frontalface_default.xml --encodings ' + basedir + 'encodings.pickle --outfile {{ webpage_dir }}/htdocs/images/result.png')
   response={'Result': 'Success'}

else:
   response={'Result': 'Failure'}

print "Content-Type: application/json"
print
print(json.JSONEncoder().encode(response))
