[input]
url             = "opc.tcp://192.168.180.2:4840"
failoverTimeout = 5000 # time to wait before reconnection in case of failure

[output]
name             = "influx_1"
type             = "influxdb"
host             = "127.0.0.1"
port             = 8086
protocol         = "http"
username         = "{{ influx_user }}"
password         = "{{ influx_password }}"
database         = "chc"
failoverTimeout  = 10000
bufferMaxSize    = 64
writeInterval    = 3000
writeMaxPoints   = 1000

# A polled node:
#[[measurements]]
#name               = "Int32polled"
#dataType           = "number"
#tags               = { tag1 = "test", tag2 = "AB43" }
#nodeId             = "ns=37;s=10849"
#collectionType     = "polled"
#pollRate           = 60     # samples / minute.
#deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
#deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

# A monitored node
#[[measurements]]
#name               = "Int32monitored"
#dataType           = "number"
#tags               = { tag1 = "test", tag2 = "AB43" }
#nodeId             = "ns=2;i=10849"
#collectionType     = "monitored"
#monitorResolution  = 1000    # ms
#deadbandAbsolute   = 0 		# Absolute max difference for a value not to be collected
#deadbandRelative   = 0    	# Relative max difference for a value not to be collected

[[measurements]]
name               = "CPU_STS"
dataType           = "number"
tags               = { tag1 = "MFA_DATA", tag2 = "CPU_STS" }
nodeId             = "ns=2;s=MFA_DATA.CPU_STS"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "FLT_STR"
dataType           = "string"
tags               = { tag1 = "MFA_DATA", tag2 = "FLT_STR" }
nodeId             = "ns=2;s=MFA_DATA.FLT_STR"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "SCN_10m_AVG"
dataType           = "number"
tags               = { tag1 = "MFA_DATA", tag2 = "SCN_10m_AVG" }
nodeId             = "ns=2;s=MFA_DATA.SCN_10m_AVG"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "SCN_10m_MAX"
dataType           = "number"
tags               = { tag1 = "MFA_DATA", tag2 = "SCN_10m_MAX" }
nodeId             = "ns=2;s=MFA_DATA.SCN_10m_MAX"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "SCN_60m_AVG"
dataType           = "number"
tags               = { tag1 = "MFA_DATA", tag2 = "SCN_60m_AVG" }
nodeId             = "ns=2;s=MFA_DATA.SCN_60m_AVG"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "SCN_60m_MAX"
dataType           = "number"
tags               = { tag1 = "MFA_DATA", tag2 = "SCN_60m_MAX" }
nodeId             = "ns=2;s=MFA_DATA.SCN_60m_MAX"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "SCN_60s_AVG"
dataType           = "number"
tags               = { tag1 = "MFA_DATA", tag2 = "SCN_60s_AVG" }
nodeId             = "ns=2;s=MFA_DATA.SCN_60s_AVG"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "SCN_60s_MAX"
dataType           = "number"
tags               = { tag1 = "MFA_DATA", tag2 = "SCN_60s_MAX" }
nodeId             = "ns=2;s=MFA_DATA.SCN_60s_MAX"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "Firmware_Version"
dataType           = "string"
tags               = { tag1 = "MFA_DATA", tag2 = "Firmware_Version" }
nodeId             = "ns=2;i=20106"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "Catalog_Number"
dataType           = "string"
tags               = { tag1 = "MFA_DATA", tag2 = "Catalog_Number" }
nodeId             = "ns=2;i=20102"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "Date_Code"
dataType           = "string"
tags               = { tag1 = "MFA_DATA", tag2 = "Date_Code" }
nodeId             = "ns=2;i=20104"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "Hardware_Version"
dataType           = "string"
tags               = { tag1 = "MFA_DATA", tag2 = "Hardware_Version" }
nodeId             = "ns=2;i=20105"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "Serial_Number"
dataType           = "string"
tags               = { tag1 = "MFA_DATA", tag2 = "Serial_Number" }
nodeId             = "ns=2;i=20103"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "Sweep_Mode"
dataType           = "string"
tags               = { tag1 = "MFA_DATA", tag2 = "Sweep_Mode" }
nodeId             = "ns=2;i=20107"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected

[[measurements]]
name               = "Sweep_Time"
dataType           = "number"
tags               = { tag1 = "MFA_DATA", tag2 = "Sweep_Time" }
nodeId             = "ns=2;i=20108"
collectionType     = "polled"
pollRate           = 60     # samples / minute.
deadbandAbsolute   = 0      # Absolute max difference for a value not to be collected
deadbandRelative   = 0.0    # Relative max difference for a value not to be collected