<?php
define('SMARTY_DIR', './smarty-3.1.33/libs/');
require_once(SMARTY_DIR . 'Smarty.class.php');
$smarty = new Smarty();

// setup smarty directories
$smarty->setTemplateDir('{{ webpage_dir }}/templates/');
$smarty->setCompileDir('{{ webpage_dir }}/templates_c/');
$smarty->setConfigDir('{{ webpage_dir }}/configs/');
$smarty->setCacheDir('{{ webpage_dir }}/cache/');

// initialize our array
$data = array();

// iterate over our installed apps
foreach (new DirectoryIterator('{{ webapps_dir }}/') as $file) {
    if($file->isDot()) continue;
    $files[] = $file->getPathname();
}

asort($files);
foreach ($files as $file) {
    $data[] = json_decode(str_replace('{$ip}', $_SERVER['SERVER_ADDR'], file_get_contents($file)), true);
}

$smarty->assign('apps', $data);

$smarty->display('index.tpl');
?>
