[Unit]
Description=A simple alarm anunciation service using MQTT
After=network.target
Requires=network.target mosquitto.service

[Service]
ExecStart=/usr/bin/env python3 {{ install_dir }}/alarmServer/alarmServer.py
WorkingDirectory={{ install_dir }}/alarmServer
Restart=on-failure

[Install]
WantedBy=multi-user.target
