#!/usr/bin/python3
"""
Common functions used by CPL410-Demos Python scripts
"""
from typing import Tuple
from opcua import Client
import socket
def getlogin(password:str) -> Tuple[str, str]:
    """Returns user and password (as a tuple) to login to the supplied application"""
    if (password == 'influxdb'):
        filename = '{{ install_dir }}/.ansible/.passwords/influxdb'
        user = '{{ influx_user }}'
    elif (password == 'mosquitto'):
        filename = '{{ install_dir }}/.ansible/.passwords/mosquitto'
        user = '{{ mosquitto_user }}'
    else:
        raise ValueError('Invalid Parameter for getlogin function')
    infile = open(filename, 'r')
    password = infile.readline()
    infile.close()
    return user, password[:-1]

def getWoeId() -> str:
    """Returns the woeid, temperature units (c or f), and openweather API key as a string"""
    filename = '{{ install_dir }}/weather/weatherid'
    infile = open(filename, 'r')
    woeid = infile.readline()
    infile.close()
    return (woeid)


def setupClient():
    """Returns a OPC-UA Client object""" 
    return Client("opc.tcp://localControllerHost:4840/")


def get_ip():
    """Returns the public IP address of the CPL410 linux side."""
    s = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)
    try:
        s.connect(('10.255.255.255', 1))
        IP = s.getsockname()[0]
    except:
        IP = '127.0.0.1'
    finally:
        s.close()
    return IP