body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    font-family: "GE Inspira", "GE Inspira Sans", "ge-inspira", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d4d4d4;
    height: 100%;
    width: 100%;
}

/**********************************************************************************************
logon.html
**********************************************************************************************/

#rxBranding {
	background: url("../images/proficy-login_branding.svg") no-repeat 20% 0% fixed, url("../images/proficy-login_bg.svg") no-repeat 0% 0% fixed;
	background-size: cover, cover;
	-webkit-background-size: cover, cover;
	-o-background-size: cover, cover;
	-ms-background-size: cover, cover;
}

#rxBrandingWhite {
	background: url("../images/proficy-login_branding.svg") no-repeat 20% 0% fixed, url("../images/proficy-login_bg.svg") no-repeat 0% 0% fixed;
	background-size: cover, cover;
	-webkit-background-size: cover, cover;
	-o-background-size: cover, cover;
	-ms-background-size: cover, cover;
	height: 100%;
	width: 100%;
	color: #FFFFFF;	
}

#rxPadding {
	padding-left: 50px;	
	padding-top: 50px;	
}

/* Container for content (1000 pixels wide, centered) */
#rxContainer {
    margin: 0 auto;
    height: 100%;
    width: 1000px;
}

/* Container for header area (logo, title text) */
#rxHeader {
    height: 54px;
    padding-top: 9px;
    margin: 0 auto;
    width: 1000px;
}

#rxHeaderBg {
    background-color: #444444;
}

#rxGELogo {
    width: 75px;
    height: 43px;
    background-size: 80px, 50px;
    background-image: url('../images/emerson-logo.png');
    float: left;
    background-repeat-x: no-repeat;
}

#rxHeaderTitle {
    color: #fff;
    float: left;
    padding-top: 13px;
    margin-left: 20px;
    font-family: "GE Inspira Medium", "ge-inspira", sans-serif;
    letter-spacing: 1px;
}

/* Container for login area */
#rxLogin {
    width: 400px;
    margin: 20px 60px;
    float: right;
    font-family: "GE Inspira", sans-serif;
}

#rxLoginTitle {
    color: #fff;
    font-size: 24px;
    margin-bottom: 24px;
	margin-top: 30px;
}

.rx-LoginForm {
    width: 160px;
    margin: auto;
}

.rx-input {
    width: 100%;
    height: 20px;
    padding-left: 10px;
    border: 4px solid #fff;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    margin-bottom: 14px;
    font-style: italic;
}

.rx-LoginButton {
    width: 90px;
    height: 44px;
    color: #fff;
    background-color: #2b2b2b;
    background-image: url("../images/ico_login.svg");
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 100% 100%;
	-webkit-background-size: 24px;
	-o-background-size: 24px;
	-ms-background-size: 24px;
    border: 1px solid #575757;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-webkit-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-o-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-ms-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
}

.rx-LoginButton:hover {
    border: 1px solid #141414;
    background-color: #141414;
}

/* Container for all information blocks */

#rxInfoBlocks {
    width: 400px;
    float: left;
    font-family: "GE Inspira", sans-serif;
}

/* Container for controller block (white background) */
#rxControllerWhite {
    width: auto;
    border: 2px solid #bcbcbc;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
}

#rxControllerWhite h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

#rxControllerWhite td:nth-of-type(odd) {
    color: #575757;
    font-weight: bold;
    width: 160px;
}

/* Container for energy pack block (white background) */
#rxEnergyPackWhite {
    width: auto;
    border: 2px solid #bcbcbc;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
}

#rxEnergyPackWhite h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

#rxEnergyPackWhite td:nth-of-type(odd) {
    color: #575757;
    width: 200px;
    font-weight: bold;
}

/**********************************************************************************************
all other html files
**********************************************************************************************/

#rxUpdateFirmware {
    width: 540px;
    float: left;
    margin-top: 20px;
    font-family: "GE Inspira", sans-serif;
    background-color: #fff;
    border: 2px solid #bcbcbc;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    padding: 10px;
}

#rxUpdateFirmwareTitle {
    margin-bottom: 50px;
}

#rxUpdateFirmwareTitle h2 {
    color: #000;
    font-size: 24px;
    margin: 0;
    float: left;
}

#rxControllerState {
    float: right;
    font-size: 14px;
}

#rxUpdateFirmwareWarning {
    font-size: 13px;
    font-style: italic;
}

.rxControllerStateBad {
	height: 26px;
	float: right;
	margin-left: 10px;
	font-size: 32px;
	color: red;
}

.rxControllerStateOk {
	height: 26px;
	float: right;
	margin-left: 10px;
	font-size: 32px;
	color: green;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

#rxHeaderTitle a,
#rxHeaderTitle a:visited {
	color: #fff;
	text-decoration: none;
}

#rxHeaderTitle a:hover {
	color: #eee;
}

#rxUpdateFirmware a,
#rxUpdateFirmware a:visited {
	color: #2E9AFE;
	text-decoration: none;
}

#rxUpdateFirmware a:hover {
	color: #58ACFA;
}

.rx-UploadButton {
    width: 140px;
    height: 40px;
    color: #fff;
    background-color: #2b2b2b;
    background-size: 20px;
	-webkit-background-size: 20px;
    border: 1px solid #575757;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-webkit-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-o-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-ms-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	float: right;
	padding-top: 4px;
}

.rx-UploadButton:hover {
    border: 1px solid #141414;
    background-color: #141414;
}

#errorMsg {
    height: 0px;
    visibility: hidden;
    color: red;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0px;
	text-align: center;
}

/* Container for controller block (gray background) */
#rxControllerGray {
    width: auto;
    border: 2px solid #bcbcbc;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    background-color: #e9e9e9;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
}

#rxControllerGray h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

#rxControllerGray td:nth-of-type(odd) {
    color: #575757;
    font-weight: bold;
    width: 160px;
}

.rx-InputStep {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.rx-InputStep label {
    float: left;
    min-width: 40px;
    padding-right: 20px;
    text-align: left;
}

.rx-InputStep input {
    float: left;
    width: 40px;
}

/* Logged-in header stuff */

#rxLoggedInHeader {
    float: right;
}

#rxHelp {
    border: 2px solid #414141;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
    height: 32px;
    width: 48px;
    background-color: #414141;
    float: left;
    margin-top: 6px;
    margin-right: 10px;
    cursor: pointer;
    color: #868686;
    font-size: 24px;
    transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-webkit-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-o-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-ms-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
}

#rxHelp:hover {
    background-color: #2b2b2b;
    border: 2px solid #2b2b2b;
    color: #fff;
}

#rxUser {
    border: 2px solid #414141;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
    width: 180px;
    height: 32px;
    background-color: #414141;
    float: left;
    margin-top: 6px;
    cursor: pointer;
    color: #868686;
    transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-webkit-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-o-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
	-ms-transition: background-color .25s linear,
                border .25s linear,
                color .25s linear;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
}

#rxUser:hover {
    background-color: #2b2b2b;
    border: 2px solid #2b2b2b;
    color: #fff;
}

#rxInstallStatus {
    display: none;
}


/* Container for energy pack block (gray background) */
#rxEnergyPackGray {
    width: auto;
    border: 2px solid #bcbcbc;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
    background-color: #e9e9e9;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    color: #000;
}

#rxEnergyPackGray h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

#rxEnergyPackGray td:nth-of-type(odd) {
    color: #575757;
    width: 200px;
    font-weight: bold;
}

/* Previous implementation style-names */
#fileToUpload {
    width: 100%;
    margin-bottom: 20px;
}

/* Progress styles */

#rxSpinner {
    width: 20px;
    height: 20px;
    background: url("../images/spinner.png");
    background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

#rxUpdateSpinner {
    width: 30px;
    height: 30px;
    background: url("../images/overall_spinner.png");
    background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

@-webkit-keyframes rx-Spinning /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-moz-keyframes rx-Spinning /* FireFox */ {
    from {
		-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
		-ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
		-ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-o-keyframes rx-Spinning /* Opera */ {
    from {
		-webkit-transform: rotate(0deg);
        transform: rotate(0deg);
		-ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
		-ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes rx-Spinning {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
		-ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
		-ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
.rx-Spinning {
	-webkit-animation: rx-Spinning 2s linear infinite;
	animation: rx-Spinning 2s linear infinite;
    -moz-animation: rx-Spinning 2s linear infinite;
    -ms-animation: rx-Spinning 2s linear infinite;
    -o-animation: rx-Spinning 2s linear infinite;
}

#rxInstallItems li {
    height: 30px;
    margin-bottom: 10px;
}

.rx-InstallItemSpinner {
    font-size: 26px;
	color: #3693f8;
	vertical-align: middle;
	margin-right: 10px;
}

.rx-InstallItemComplete {
    font-size: 26px;
	color: #46ad00;
	vertical-align: middle;
	margin-right: 10px;
}

.rx-InstallItemError {
    font-size: 26px;
	color: #ff0000;
	vertical-align: middle;
	margin-right: 10px;
}

.rx-ButtonLeft {
    background-color: #f5f5f5;
    padding: 6px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
    cursor: pointer;
    color: #575757;
    font-family: "GE Inspira";
    float: left;
    margin-right: 10px;
}

ul {
	list-style: none;
}

.rxTooltipBad {
	font-size: 12px;
	color: red;
}

.rxTooltipOk {
	font-size: 12px;
	color: green;
}
