[Unit]
Description=Live Trend application
After=network.target

[Service]
Restart=always
Type=simple
User={{ user }}
Group={{ user }}
RestartSec=10
ExecStart=/usr/bin/env python3 {{ install_dir }}/live_trend/live_trend.py
WorkingDirectory={{ install_dir }}/live_trend

[Install]
WantedBy=multi-user.target